# **If ... Else**

## **If :**

The if command will lead the program to different paths according to the condition that follows. That is, if the condition is correct, the instructions on the box will be executed; otherwise the instructions will be carried out.

  **if structure:**
  
    if condition:
       # statement
       pass

In [ ]:
a = 33
b = 20
if b > a:
  print("b is greater than a")

## **Elif:**



The word is summery of the `else if`.

The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

  **elif structure:**

    if condition1:
      # condition1 is true
      pass
    elif condition2:
      # condition1 is false and condition2 is true
      pass

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

## **Else:**



The else keyword catches anything which isn't caught by the preceding conditions.

  **else structure:**

    if condition:
      # condition is true
      pass
    else:
      # condition is false (Not true)
      pass

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

## **Short Hand :**

### **Short Hand If :**

If you have only one statement to execute, you can put it on the same line as the if statement.

In [ ]:
a = 200
b = 33
if a > b: print("a is greater than b")

a is greater than b

### **Short Hand If ... Else :**

If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

In [ ]:
a = 400
b = 330

print("A") if a > b else print("B")

A

## **Question**:

Jack , who has a lot of perseverance , was at first a waiter. He should have known the situation in the samovar at any moment . That was why he was measuring the water with a thermometer at the samovar , and looking at the water temperature in the samovar . We know that water in normal pressure evaporates at temperatures of over 100 degrees and freezes at less than 0 . ( In wintertime , water can ice in the samovar ) , you know , you have to be persistent in success . So sooner or later , you have to decide to proceed . You need to set the water in the samovar , depending on the temperature in the samovar.

    -273 < T <= 6000

If the temperature inside the samovar was more than 100 degrees , then print ```steam``` , if the temperature was below 0 , the ```ice``` should be printed and put in ```Water```.

*Examples*:

▶ Sample inputput 1:

```
110
```

▶ Sample output 1:

```
Steam
```

▶ Sample inputput 2:

```
100
```

▶ Sample output 2:

```
Water
```

▶ Sample inputput 3:

```
-200
```

▶ Sample output 3:

```
Ice
```

#### Answer 1:

In [ ]:
t = int(input())

if t < -273 or t > 6000:
    print("error")
elif t > 100:
    print("Steam")
elif t < 0:
    print("Ice")
else:
    print("Water")

5
Water

#### Answer 2:

In [ ]:
n = input()
print(n)
n = int(n)
if n >= 100:
  print("steam")
elif 0 <= n <100:
  print("water")
else:
  print("ice")

-170
-170
ice

# **Operators**

Operators are used to perform operations on variables and values.

## ***Arithmetic Operators:***

Arithmetic operators are used with numeric values to perform common mathematical operations:

In [ ]:
a = 10
b = 20

# Adds values on either side of the operator
print('+ Addition: (a + b => 10 + 20 = 30)', a + b)

# Subtracts right hand operand from left hand operand.
print('- Subtraction: (a – b => 10 - 20 = -10)', a - b)

# Multiplies values on either side of the operator
print('/ Division: (a * b => 10 * 20 = 200)', a * b)

# Divides left hand operand by right hand operand and returns remainder
print('% Modulus: (b % a => 20 % 10 = 0)', b % a)

# Performs exponential (power) calculation on operators
print('** Exponent (a**b => 10 to the power 20): ', a ** b)

a = 9
b = 2
print('// : (a // b => 9//2 = 4)', a // b) # Floor Division
# The division of operands where the result is the quotient in which 
# the digits after the decimal point are removed. 
# But if one of the operands is negative, the result is floored, i.e., 
# rounded away from zero

+ Addition: (a + b => 10 + 20 = 30) 30
- Subtraction: (a – b => 10 - 20 = -10) -10
/ Division: (a * b => 10 * 20 = 200) 200
% Modulus: (b % a => 20 % 10 = 0) 0
** Exponent (a**b => 10 to the power 20):  100000000000000000000
// : (a // b => 9//2 = 4) 4

## ***Assignment Operators:***

Assignment operators are used to assign values to variables:

In [ ]:
a = 21
b = 10
c = 0

# =
# Assigns values from right side operands to left side operand
c = a + b
print("c = a + b - Value of c is ", c)

# += Add AND
# It adds right operand to the left operand and assign the result to left operand
c += a  # c = c + a
print("c += a - Value of c is ", c)

# *= Multiply AND
# It multiplies right operand with the left operand and assign the result to left operand
c *= a # c = C * a
print("c *= a - Value of c is ", c)

# /= Divide AND
# It takes modulus using two operands and assign the result to left operand
c /= a 
print("c /= a - Value of c is ", c)

# %= Modulus AND
# It takes modulus using two operands and assign the result to left operand
c  = 2
c %= a # c = c % a
print("c %= a - Value of c is ", c)

# **= Exponent AND
# Performs exponential (power) calculation on operators and assign value to the left operand
c **= a
print("c **= a - Value of c is ", c)

# //= Floor Division
# It performs floor division on operators and assign value to the left operand
c //= a
print("c //= a - Value of c is ", c)

c = a + b - Value of c is  31
c += a - Value of c is  52
c *= a - Value of c is  1092
c /= a - Value of c is  52.0
c %= a - Value of c is  2
c **= a - Value of c is  2097152
c //= a - Value of c is  99864

## ***Comparison Operators:***

These operators compare the values on either sides of them and decide the relation among them. They are also called Relational operators.

In [ ]:
a = 21
b = 10
c = 0

# ==
# If the values of two operands are equal, then the condition becomes true
if ( a == b ):
   print("Line 1 - a is equal to b")
else:
   print ("Line 1 - a is not equal to b")

# !=
# If values of two operands are not equal, then condition becomes true
if ( a != b ):
   print ("Line 2 - a is not equal to b")
else:
   print ("Line 2 - a is equal to b")

# >
# If the value of left operand is greater than the value of right operand, 
# then condition becomes true
if ( a < b ):
   print ("Line 4 - a is less than b")
else:
   print ("Line 4 - a is not less than b")

# <
# If the value of left operand is less than the value of right operand, 
# then condition becomes true
if ( a > b ):
   print ("Line 5 - a is greater than b")
else:
   print ("Line 5 - a is not greater than b")

a = 5
b = 20
# >=
# If the value of left operand is greater than or equal to the value of 
# right operand, then condition becomes true
if ( a <= b ):
   print ("Line 6 - a is either less than or equal to  b")
else:
   print ("Line 6 - a is neither less than nor equal to  b")

# <=
# If the value of left operand is less than or equal to the value of 
# right operand, then condition becomes true
if ( b >= a ):
   print ("Line 7 - b is either greater than  or equal to b")
else:
   print ("Line 7 - b is neither greater than  nor equal to b")

Line 1 - a is not equal to b
Line 2 - a is not equal to b
Line 4 - a is not less than b
Line 5 - a is greater than b
Line 6 - a is either less than or equal to  b
Line 7 - b is either greater than  or equal to b

## ***Logical Operators:***

Logical operators are used to combine conditional statements:

**`and` Logical AND:**
> If both the operands are true then condition becomes true.


```
▶ (a and b) is true.
```

**`or` Logical OR:**
> If any of the two operands are non-zero then condition becomes true.


```
▶ (a or b) is true.
```

**`not` Logical NOT:**
> Used to reverse the logical state of its operand.


```
▶ Not(a and b) is false.
```

## ***Identity Operators:***

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

In [ ]:
a = 20
b = 20

# is
# Evaluates to true if the variables on either side of the operator point to 
# the same object and false otherwise
if ( a is b ):
   print("a is b? - a and b have same identity")
else:
   print("a is b? - a and b do not have same identity")

if ( id(a) == id(b) ):
   print("id(a) == id(b)? - a and b have same identity")
else:
   print("id(a) == id(b)? - a and b do not have same identity")

b = 30
if ( a is b ):
   print("a is b? - a and b have same identity")
else:
   print("a is b? - a and b do not have same identity")

# is not
# Evaluates to false if the variables on either side of the operator point to 
# the same object and true otherwise
if ( a is not b ):
   print("a is not b? - a and b do not have same identity")
else:
   print("a is not b? - a and b have same identity")

a is b? - a and b have same identity
id(a) == id(b)? - a and b have same identity
a is b? - a and b do not have same identity
a is not b? - a and b do not have same identity

## ***Membership Operators:***

Membership operators are used to test if a sequence is presented in an object:

In [ ]:
a = 10
b = 20
list = [1, 2, 3, 4, 5 ];

# in
# Evaluates to true if it finds a variable in the specified sequence and false 
# otherwise
if ( a in list ):
   print("a in list? - a is available in the given list")
else:
   print("a in list? - a is not available in the given list")

# not in
# Evaluates to true if it does not finds a variable in the specified sequence 
# and false otherwise
if ( b not in list ):
   print("b not in list? - b is not available in the given list")
else:
   print("b not in list? - b is available in the given list")

a = 2
if ( a in list ):
   print("a in list? - a is available in the given list")
else:
   print("a in list? - a is not available in the given list")

a in list? - a is not available in the given list
b not in list? - b is not available in the given list
a in list? - a is available in the given list

## ***Bitwise Operators:***

Bitwise operators are used to compare (binary) numbers.
Bitwise operator works on bits and performs bit by bit operation. Assume if a = 60; and b = 13; Now in the binary format their values will be 0011 1100 and 0000 1101 respectively. Following table lists out the bitwise operators supported by Python language with an example each in those, we use the above two variables (a and b) as operands −

a = 0011 1100

b = 0000 1101

-----------------

a&b = 0000 1100

a|b = 0011 1101

a^b = 0011 0001

~a  = 1100 0011

In [ ]:
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0

# & Binary AND
# Operator copies a bit to the result if it exists in both operands
c = a & b       # 12 = 0000 1100
print("c = a & b - Value of c is ", c)

# | Binary OR
# It copies a bit if it exists in either operand
c = a | b        # 61 = 0011 1101 
print("c = a | b - Value of c is ", c)

# ^ Binary XOR
# It copies the bit if it is set in one operand but not both
c = a ^ b        # 49 = 0011 0001
print("c = a ^ b - Value of c is ", c)

# ~ Binary Ones Complement
# It is unary and has the effect of 'flipping' bits
c = ~a           # -61 = 1100 0011
print("c = ~a - Value of c is ", c)

# << Binary Left Shift
# The left operands value is moved left by the number of bits specified by 
# the right operand
c = a << 2       # 240 = 1111 0000
print("c = a << 2 - Value of c is ", c)

# >> Binary Right Shift
# The left operands value is moved right by the number of bits specified by 
# the right operand
c = a >> 2       # 15 = 0000 1111
print("c = a >> 2 - Value of c is ", c)

c = a & b - Value of c is  12
c = a | b - Value of c is  61
c = a ^ b - Value of c is  49
c = ~a - Value of c is  -61
c = a << 2 - Value of c is  240
c = a >> 2 - Value of c is  15

## ***Math library:***

Python has a built-in module that you can use for mathematical tasks.

The math module has a set of methods and constants.

### ***Numeric Functions:***

In [ ]:
import math
from math import factorial, ceil

x = 3.66

# Return the ceiling of x, the smallest integer greater than or equal to x
print('ceil of x is: ', ceil(x))

# Return the floor of x, the largest integer less than or equal to x.
print('floor of x is: ', math.floor(x))

# Using the factorial() function we can find the factorial of a number in a 
# single line of the code. 
# An error message is displayed if number is not integral.
a = 5 
# returning the factorial of 5
print("The factorial of 5 is : ", end="")
print(fff(a))

# gcd() function is used to find the greatest common divisor of two numbers 
# passed as the arguments. 
a = 15
b = 5
# returning the gcd of 15 and 5
print ("The gcd of 5 and 15 is : ", end="")
print (math.gcd(b, a))

# fabs() function returns the absolute value of the number
a = -10
# returning the absolute value.
print ("The absolute value of -10 is : ", end="")
print (math.fabs(a))

ceil of x is:  4
floor of x is:  3
The factorial of 5 is : 120
The gcd of 5 and 15 is : 5
The absolute value of -10 is : 10.0

### ***Logarithmic and Power Functions:***

**Finding the power of exp**

`exp()` method is used to calculate the power of e i.e. e^y or we can say exponential of y.

In [ ]:
import math

test_int = 4
test_neg_int = -3
test_float = 0.00

# checking exp() values
# with different numbers
print (math.exp(test_int))
print (math.exp(test_neg_int))
print (math.exp(test_float))

54.598150033144236
0.049787068367863944
1.0

**Finding the power of a number**

`pow()` function computes x**y. This function first converts its arguments into float and then computes the power.

In [ ]:
import math

print ("The value of 3**4 is : ",end="")

# Returns 81
print (pow(3,4))

The value of 3**4 is : 81

**Finding the Logarithm**

`log()` function returns the logarithmic value of a with base b. If the base is not mentioned, the computed value is of the natural log.

`log2(a)` function computes value of log a with base 2. This value is more accurate than the value of the function discussed above.

`log10(a)` function computes value of log a with base 10. This value is more accurate than the value of the function discussed above.

In [ ]:
import math
 
# returning the log of 2,3
print ("The value of log 2 with base 3 is : ", end="")
print (math.log(2,3))
 
# returning the log2 of 16
print ("The value of log2 of 16 is : ", end="")
print (math.log2(16))
    
# returning the log10 of 10000
print ("The value of log10 of 10000 is : ", end="")
print (math.log10(10000))

The value of log 2 with base 3 is : 0.6309297535714574
The value of log2 of 16 is : 4.0
The value of log10 of 10000 is : 4.0

**Finding the Square root**

`sqrt()` function returns the square root of the number.

In [ ]:
import math
 
# print the square root of 0
print(math.sqrt(0))
 
# print the square root of 4
print(math.sqrt(4))
 
# print the square root of 3.5
print(math.sqrt(3.5))

0.0
2.0
1.8708286933869707

### ***Trigonometric and Angular Functions:***

**Finding sine, cosine, and tangent**

`sin()`, `cos()`, and` tan()` functions returns the sine, cosine, and tangent of value passed as the argument. The value passed in this function should be in **radians**.

In [ ]:
import math
 
a = math.pi/6
 
# returning the value of sine of pi/6
print ("The value of sine of pi/6 is : ", end="")
print (math.sin(a))
 
# returning the value of cosine of pi/6
print ("The value of cosine of pi/6 is : ", end="")
print (math.cos(a))
 
# returning the value of tangent of pi/6
print ("The value of tangent of pi/6 is : ", end="")
print (math.tan(a))

The value of sine of pi/6 is : 0.49999999999999994
The value of cosine of pi/6 is : 0.8660254037844387
The value of tangent of pi/6 is : 0.5773502691896257

**Converting values from degrees to radians and vice versa**

`degrees()` function is used to convert argument value from radians to degrees.

`radians()` function is used to convert argument value from degrees to radians.

In [ ]:
import math
 
a = math.pi/6
b = 30
 
# returning the converted value from radians to degrees
print ("The converted value from radians to degrees is : ", end="")
print (math.degrees(a))
 
# returning the converted value from degrees to radians
print ("The converted value from degrees to radians is : ", end="")
print (math.radians(b))

The converted value from radians to degrees is : 29.999999999999996
The converted value from degrees to radians is : 0.5235987755982988

### ***Constants:***

In [ ]:
import math

print(math.e)	# Returns Euler's number (2.7182...)
print(math.inf)	# Returns a floating-point positive infinity
print(math.nan)	# Returns a floating-point NaN (Not a Number) value
print(math.pi)	# Returns PI (3.1415...)
print(math.tau)	# Returns tau (6.2831...)

2.718281828459045
inf
nan
3.141592653589793
6.283185307179586

### Practice:

Get the X value from user and calculate Equation below:

![image.png]()

#### Answer:

In [ ]:
import math

x = int(input())
z = math.pow(math.cos(math.radians(x)), 2)
w = math.asin(z)
y = math.floor(math.pow(math.e, w))
print(math.gcd(x, y))

3
1

### Question:

![image.png]()

      1 <= x <= 180
The input to the trigonometric functions of the math library should be in the radian type. For example, to compute the sinus, you need to function as follows:

    math.sin(math.radians(30))

*Examples*:

▶ Sample inputput 1:

```
5
```

▶ Sample output 1:

```
3
```

▶ Sample inputput 2:

```
7
```

▶ Sample output 2:

```
2
```

#### Answer:

In [ ]:
from math import *

x = int(input())
if 1 <= x <= 180:
    m = ceil((pow(x, 5 / 3) + tan(radians(x))))
    n = floor((pow(pi, 2 + atan(pow(sin(radians(x)), 2)))))
    p = gcd(m, n)
    print(p)

190