# **Loop**

## **While :**

It repeatedly executes a block of (normally indented) statements as long
as a test at the top keeps evaluating to a true value.

  **while structure:**

    while condition:
      # statements
      pass
    else:
      # statements
      pass

In [ ]:
a=0
b=10
while a < b: # One way to code counter loops
  print(a, end=' ')
  a += 1
else:
  print('\n', 'a is equal to b')

0 1 2 3 4 5 6 7 8 9
 a is equal to b

**Break :**

Jumps out of the closest enclosing loop (past the entire loop statement)

In [ ]:
result = 0
while True:
    n = int(input('Enter a number:'))
    if n == 0:
        break
    result = result + n
print('Sum of the numbers: ', result)

Enter a number:0
Sum of the numbers:  0

**continue :**

Jumps to the top of the closest enclosing loop (to the loop’s header line)

Produce odd numbers:

In [ ]:
x = 0
while x < 10:
    x += 1
    if x % 2 == 0:
        continue
    print(x)

1
3
5
7
9

**pass :**

Does nothing at all: it’s an empty statement placeholder

**Loop else block :**

Runs if and only if the loop is exited normally (i.e., without hitting a break)

    while <test1>:
      <statements1>
      if <test2>: break # Exit loop now, skip else
      if <test3>: continue # Go to top of loop now, to test1. <statements3> will not be ran
      <statements3>
    else:
      <statements2> # Run if we didn't hit a 'break'

### Practice:

Write a program which produce Fibonacci series less than 10:

#### Answer:

In [ ]:
a = 1
b = 1
while a < 10:
    print(a)
    c = b
    b = a + b
    a = c

1
1
2
3
5
8

## Question 1:

Write a program that will receive a number of entries before entering a zero digits in each step . After receiving a zero, the numbers must be printed on the contrary of their arrival .

**Input:**

The number of input numbers is less than 1000 . It is guaranteed that once a number 0 at the input end appears and the numbers in the input are the natural numbers up to 1000.

*Examples*:

▶ Sample inputput:

```
3
4
7
4
9
0
```

▶ Sample output:

```
9
4
7
4
3
```

#### Answer 1:

In [ ]:
result = []

while True:
    n = int(input('Enter a number:'))
    if n == 0:
        break
    result.append(n)

result.reverse()
print("Reversed numbers: ")
# print(result)
for i in result:
  print(i)

Enter a number:3
Enter a number:4
Enter a number:5
Enter a number:0
Reversed numbers:
[5, 4, 3]
5
4
3

#### Answer 2:

In [ ]:
number = 0
while True:
    n = int(input('Enter a number:'))
    if n == 0:
        break
    number = number * 10 + n

reverse = 0
while(number > 0):
    last_digit = number % 10
    reverse = reverse * 10 + last_digit
    # print(reverse, '::::', last_digit , " ::: ", number)
    number = number // 10

# display result
print('The reverse number is =', reverse)

Enter a number:3
Enter a number:4
Enter a number:5
Enter a number:6
Enter a number:0
6 :::: 6  :::  3456
65 :::: 5  :::  345
654 :::: 4  :::  34
6543 :::: 3  :::  3
The reverse number is = 6543

## Question 2:

Write a program that will receive the number n from the input and then print a hollow square with the length and width of n with the star .

    1 <= n <= 10

*Examples*:

▶ Sample inputput 1:

```
6
```

▶ Sample output 1:

```
******
*    *
*    *
*    *
*    *
******
```

#### Answer1:

In [ ]:
n = int(input('Enter a number:'))
i = 1

while(i <= n):
  if(i == 1 or i == n):
    j = 1
    while(j <= n):
      print('*', end='')
      j += 1

  else:
    j = 1
    while(j <= n):
      if(j == 1 or j == n):
        print('*', end='')
      else:
        print(' ', end='')
      j += 1

  i += 1

  print()

Enter a number:6
******
*    *
*    *
*    *
*    *
******

#### Answer2:

In [ ]:
a = 0
b = 0
n = int(input())

while a < n:
  if a == 0 or a == n-1:
    b = 0
    while b < n: 
      print("*", end="")
      b += 1
    else:
      print("")
  else:
    print("*", end="")
    b = 1
    while b < n-1:
      print(" ", end="")
      b += 1
    else:
      print("*")
  a += 1

6
******
*    *
*    *
*    *
*    *
******

## **For :**

The for loop is a generic sequence iterator in Python: it can step through the items in
any ordered sequence object. The for statement works on strings, lists, tuples, other
built-in iterables, and new objects

  **for structure:**

    for <target> in <object>: # Assign object items to target
      <statements> # Repeated loop body: use target
      if <test>: break # Exit loop now, skip else
      if <test>: continue # Go to top of loop now. <statements2> will not be ran
      <statements2>
    else:
      <statements3> # If we didn't hit a 'break'

In [ ]:
numbers = [1, 2, 3, 'ali', 55.555]

for num in numbers:
    print(num)

1
2
3
ali
55.555

In [ ]:
T = [(1, 2), (3, 4), (5, 6)]
for (a, b) in T: # Tuple assignment at work
  print(a, b)

1 2
3 4
5 6

In [ ]:
D = {'a': 1, 'b': 2, 'c': 3}
for key in D: # Use dict keys iterator and index
  print(key, '=>', D[key])

a => 1
b => 2
c => 3

In [ ]:
D = {'a': 1, 'b': 2, 'c': 3}
for key, value in D.items():
  print(key, value)

a 1
b 2
c 3

In [ ]:
D = {'a': 1, 'b': 2, 'c': 3}
print('D.items: ', list(D.items()))

for (key, value) in D.items(): # Iterate over both keys and values
  print(key, '=>', value)

D.items:  [('a', 1), ('b', 2), ('c', 3)]
a => 1
b => 2
c => 3

In [ ]:
for (a, b, c) in [(1, 2, 3), (4, 5, 6)]: # Used in for loop
  print(a, b, c)

1 2 3
4 5 6

In [ ]:
words = [['s', 'a', 'l', 'a', 'm'], ['k', 'h', 'o', 'o', 'b', 'i', '?']]

for word in words:
    for char in word:
        print(char, end='')
    print('\n')

salam

khoobi?

### **Range :**

The range function is really a general tool that can be used in a variety of contexts.
Although it’s used most often to generate indexes in a for, you can use it anywhere you
need a list of integers.

In [ ]:
list(range(5)), list(range(2, 5)), list(range(0, 10, 2))

([0, 1, 2, 3, 4], [2, 3, 4], [0, 2, 4, 6, 8])

The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6)

In [ ]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [ ]:
for i in range(5):
    print(i, end=' ')

print()

for i in range(5, 10):
    print(i, end=' ')

print()

for i in range(0, 10, 2):
    print(i, end=' ')

0 1 2 3 4
5 6 7 8 9
0 2 4 6 8

**len :**

In [ ]:
words = ['hi', 'how?', 'na']

for i in range(len(words)):
    print(words[i])

for i in range(0, len(words), 2):
    print(" *** " + words[i])

hi
how?
na
 *** hi
 *** na

## Question 3:

Write a program that will receive the number n from the input and then print the multiplication tables of 1 to n .

    1 <= n <= 100

*Examples*:

▶ Sample inputput 1:

```
3
```

▶ Sample output 1:

```
1 2 3
2 4 6
3 6 9
```

▶ Sample inputput 2:

```
5
```

▶ Sample output 2:

```
1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25
```

#### Answer:

In [ ]:
m = int(input())

for i in range(1, m + 1):
    print("  ")
    for j in range(1, m + 1):
        p = i * j
        print(p, " ", end='')

5

1  2  3  4  5
2  4  6  8  10
3  6  9  12  15
4  8  12  16  20
5  10  15  20  25

In [ ]:
a = 1
number = int(input ("Enter the number ")     
while a <= number:
  count = 1        
  print ("The Multiplication Table of: ", number)    
  while count <=number:    
      number = number * 1    
      print (a * count)    
      count += 1

SyntaxError: ignored

In [ ]:
a = 1
number = int(input())
while a <= number:
  count = 1
  print ("The Multiplication Table of: ", number)    
  while count <=number:    
      number = number * 1    
      print (a * count)    
      count += 1
  a += 1

3
The Multiplication Table of:  3
1
2
3
The Multiplication Table of:  3
2
4
6
The Multiplication Table of:  3
3
6
9

## Question 4:

Write a program that takes the number n from the input and represents n first row of the triangle of Pascal Pascal.

The triangle of Pascal is that first there is only one number 1 in the first row. Then in line ii, there are ii number that number one and the last, and each of the other numbers are the top two. The following image is the first six lines of the triangle of Pascal Pascal.

![image.png]()

**Input:**

The user insert the number n, it represents the number of entries to be printed .

    1 ≤ n ≤ 100

*Examples*:

▶ Sample inputput:

```
5
```

▶ Sample output:

```
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
```

#### Answer 1:

In [ ]:
from math import factorial

n = int(input("Enter number: "))

for i in range(n):
    for j in range(n-i+1):
        # for left spacing
        print(end=" ")
 
    for j in range(i+1):
        # nCr = n!/((n-r)!*r!)
        print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")
 
    # for new line
    print()

Enter number: 6
       1
      1 1
     1 2 1
    1 3 3 1
   1 4 6 4 1
  1 5 10 10 5 1

#### Answer 2:

In [ ]:
n = int(input("Enter number: "))
 
for i in range(1, n+1):
    for j in range(0, n-i+1):
        print(' ', end='')
 
    # first element is always 1
    C = 1
    for j in range(1, i+1):
        # first value in a line is always 1
        print(' ', C, sep='', end='')
 
        # using Binomial Coefficient
        C = C * (i - j) // j
    print()

Enter number: 6
       1
      1 1
     1 2 1
    1 3 3 1
   1 4 6 4 1
  1 5 10 10 5 1

#### Answer 3:

In [ ]:
input_num = int(input("Enter the number of rows: "))

list = [] # an empty list
for n in range(input_num):
    list.append([])
    list[n].append(1)
    for m in range(1, n):
        list[n].append(list[n - 1][m - 1] + list[n - 1][m])
    if(input_num != 0):
        list[n].append(1)
  
    for m in range(0, n + 1):
        print(list[n][m], end = " ")
    print()

Enter the number of rows: 5
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

#### Answer 4:

In [ ]:
input_num = int(input("Enter the number of rows: "))
previous_row_list = []
i = 1

while i <= input_num:
  new_row_list = []
  new_row_list.append(1)
  for m in range(1, len(previous_row_list)):
    new_row_list.append(previous_row_list[m - 1] + previous_row_list[m])
  if(i > 1):
      new_row_list.append(1)
  print(new_row_list)
  previous_row_list = new_row_list
  i += 1

Enter the number of rows: 5
[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

#### Answer 5:

In [ ]:
l=[[1],[1,1]]

a=[]

n=int(input())

if n==1:
  print(l[0])
elif n==2:
  print(l[1])
else:
  for i in range(2,n):
      a = []
      for j in range(0,i+1):
        if j==0:
          a.append(1)
        elif j != i:
          temp = l[i-1][j-1] + l[i-1][j]
          a.append(temp)
        else:
          a.append(1)

      print('a=', a)
      l.append(a)
    
  
  print('l=', l)

5
a= [1, 2, 1]
a= [1, 3, 3, 1]
a= [1, 4, 6, 4, 1]
l= [[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]

## Question 5:

Write a program that will select a correct number that is not specified in the number of digits, and print every digit to the number of that digit.

**Input:**

This number will be given to you in a number . The length of the number is smaller than 100.


**Output:**

For every digit you first printed that number of that digit with ```:```, then print it to the number of that number.

*Examples*:

▶ Sample inputput:

```
50943
```

▶ Sample output:

```
5: 55555
0:
9: 999999999
4: 4444
3: 333
```

#### Answer 1:

In [ ]:
n = input('Enter a number: ')

for i in n:
  print(i, ": ", end=" ")
  for j in range(int(i)):
    print(i, end="")
  print("\n")

Enter a number: 5045
5 :  55555

0 :

4 :  4444

5 :  55555

#### Answer 2:

In [ ]:
n=int(input())

while n%10<=10 and n!=0 :
  a=n%10
  print(a , ":" ,end=" ")
  for i in range (0,a):
     print(a ,end="")
  print('')
  n=(n-(n%10))//10

6056
6 : 666666
5 : 55555
0 :
6 : 666666

#### Answer(with def):

In [ ]:
def n_times_print (n):
  print(n, ": ", end=" ")
  for i in range(n):
    print(n, end="")


n = input('Enter a number: ')

for i in n:
  n_times_print(int(i))
  print("\n")

Enter a number: 567
5 :  55555

6 :  666666

7 :  7777777

## Question 6:

Write a program that will first receive the number n from the input and then take n numbers from the input and print the max.

    1 <= n <= 10

*Examples*:

▶ Sample inputput:

```
4
1 5 6 2
```

▶ Sample output:

```
6
```

#### Answer 3:

In [ ]:
n=int(input())
p=[]
for i in range(n):
   p.append(int(input()))
print(max(p))

#### Answer 1:

In [ ]:
n = int(input("Enter the amount of number you want to enter: "))

number = input("Enter numbers being separated with space: ")
list_str = number.split(" ")
print(list_str)
list_number = map(int, list_str)
print("Max in the list is: ", max(list_number))

Enter the amount of number you want to enter: 4
Enter numbers being separated with space: 1 2 6 3
['1', '2', '6', '3']
Max in the list is:  6

#### Answer 2:

In [ ]:
lst = []
n = int(input("Enter number of elements : "))
for i in range(0, n):
    ele = int(input())
    lst.append(ele)
    lst.sort()
    print("Largest element is:", lst[-1])

Enter number of elements : 3
22
Largest element is: 22
55
Largest element is: 55
1
Largest element is: 55

## Question 7:

Get the input from user, then show the even numbers that are smaller and equal to the input.

#### Answer 1:

In [ ]:
n=int(input("enter input: "))
a=2
while a <= n:
  print(a)
  a=a+2

enter input: 7
2
4
6

#### Answer 2:

In [ ]:
n=int(input())
i=1
if n==1:
  print('you are a looser')
else:
 while True:
   y=2*i
   i=i+1
   if y>n:
    break
   else:
     print(y)

#### Answer 3:

In [ ]:
x = 0
n = int(input())

while x <= n:
    x += 1
    if x % 2 == 1:
        continue
    print(x)

7
2
4
6
8